{% extends "base.html" %}
{% load static %}


{% block css_files %}{% endblock css_files %}

{% block page_title %}ورود کاربران{% endblock page_title %}

{% block page_content %}
    
    <div class="container text-center mt-5">
    <h1 class="mb-4">ورود کاربران</h1>

    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="{% url 'core:admin_login' %}" class="btn btn-danger btn-lg">ورود مدیر</a><br>
        <a href="{% url 'core:banker_login' %}" class="btn btn-dark btn-lg">ورود بانکدار</a><br>
    </div>
    </div>
    

{% endblock page_content %}

{% block page_scripts %}{% endblock page_scripts %}