{% extends "base.html" %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static "core/Home.css" %}">
{% endblock css_files %}

{% block page_title %}{% endblock page_title %}

{% block page_content %}

    <div class="container text-center mt-5">
    <h1 class="mb-4"> شهر ریاضی</h1>

    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="{% url 'add_new_group' %}" class="btn btn-success btn-lg"> وارد کردن گروه جدید</a><br>
         <a href="{% url 'bank_home' %}" class="btn btn-warning btn-lg"> بانک</a><br>
        <a href="{% url 'scoreboard' %}" class="btn btn-info btn-lg"> تابلوی اعلانات</a><br>
    </div>
    </div>

{% endblock page_content %}

{% block page_scripts %}{% endblock page_scripts %}