{% extends "base.html" %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static "core/buying_questions.css" %}">
{% endblock css_files %}

{% block page_title %}خریدن سوال{% endblock page_title %}

{% block page_content %}

<div class="container text-center">
 <div class="container col-md-5">

  <!-- Messages Section -->
  <div class="message-container mb-3" style="min-height: 60px;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  </div>



  <h2 class="mb-4 text-center"> خرید سؤال از بانک</h2>

  <form method="POST" id="buyForm">
    {% csrf_token %}
    <div class="mb-3">
      <label>انتخاب گروه:</label>
      <select name="team" id="teamSelect" class="form-select" required>
        <option value="">انتخاب گروه</option>
        {% for t in teams %}
          <option value="{{ t.id }}">{{ t.team_number }} - {{ t.group_name }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- showing team information-->
    <div id="teamInfo" class="alert alert-secondary" style="display:none;">
      <strong id="teamName"></strong><br>
      حل‌نشده‌ها: <span id="unsolvedCount"></span> |
      حل‌شده‌ها: <span id="solvedCount"></span>
    </div>

    <div class="mb-3">
      <label>سطح سؤال:</label>
      <select name="level" class="form-select" required>
        <option value="">انتخاب سطح</option>
        {% for q in questions %}
          <option value="{{ q.level }}">{{ q.get_level_display }} ({{ q.stock }} عدد باقی مانده)</option>
        {% endfor %}
      </select>
    </div>

    <div class="text-center mt-3">
      <button id="applyButton" type="submit" class="btn btn-primary btn-lg">خرید سؤال</button>
      <a href="{% url 'bank:bank_home' %}" class="btn btn-secondary btn-lg">بازگشت</a>
    </div>
  </form>

</div>

{% endblock page_content %}


{% block page_scripts %}
<script>


document.addEventListener('DOMContentLoaded', function() {

  // Showing group info after choosing it
  document.getElementById('teamSelect').addEventListener('change', function() {
    const teamId = this.value;
    const infoBox = document.getElementById('teamInfo');

  if (!teamId) {
    infoBox.style.display = 'none';
    return;
  }

  fetch(`/bank/get_team_info/?team_id=${teamId}`)
    .then(res => res.json())
    .then(data => {
      if (data.error) {
        infoBox.style.display = 'none';
      } else {
        document.getElementById('teamName').textContent = data.name;
        document.getElementById('unsolvedCount').textContent = data.unsolved;
        document.getElementById('solvedCount').textContent = data.solved;
        infoBox.style.display = 'block';
      }
    })
    .catch(err => console.error("خطا در گرفتن اطلاعات تیم:", err));
});

      // Fading alerts
      const alerts = document.querySelectorAll('.alert:not(.alert-success):not(.alert-secondary)');

      alerts.forEach(alert => {
        setTimeout(() => {
          alert.style.transition = "opacity 1s";
          alert.style.opacity = "0";

          setTimeout(() => {
            alert.remove();
          }, 1000);
        }, 3000);
      });


      // If the operation was successful, the page reloads after 2 seconds
      const successAlert = document.querySelector('.alert-success');
      if (successAlert) {
          setTimeout(() => {
            window.location.reload();
          }, 2700);
      }
  });
</script>
{% endblock page_scripts %}
