{% extends "base.html" %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static "bank/trading_questions.css" %}">
{% endblock css_files %}

{% block page_title %}تبادل سوال{% endblock page_title %}

{% block page_content %}

<div class="container text-center">
 <div class="container col-md-5">

  <!-- Messages Section -->
  <div class="message-container mb-3" style="min-height: 60px;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  </div>



  <h2 class="mb-4 text-center">تبادل سوال بین گروه‌ها</h2>

  <form method="POST" id="buyForm">
    {% csrf_token %}
    <div class="mb-3">
      <label> انتخاب گروه فروشنده:</label>
      <select name="seller_team" id="sellerSelect" class="form-select" required>
        <option value="">انتخاب گروه فروشنده</option>
        {% for t in teams %}
          <option value="{{ t.id }}">{{ t.team_number }} - {{ t.group_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label>انتخاب گروه خریدار:</label>
      <select name="recipient_team" id="buyerSelect" class="form-select" required>
        <option value="">انتخاب گروه خریدار</option>
        {% for t in teams %}
          <option value="{{ t.id }}">{{ t.team_number }} - {{ t.group_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div id="consensual_price" class="mb-3">
      <label>قیمت توافقی سوال:</label>
      <input type="number" name="consensual_price" class="form-control" value="0">
    </div>

    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary btn-lg">تبادل سؤال</button>
      <a href="{% url 'bank:bank_home' %}" class="btn btn-secondary btn-lg">بازگشت</a>
    </div>
  </form>
</div>

{% endblock page_content %}


{% block page_scripts %}
<script>

document.addEventListener('DOMContentLoaded', function() {

      // Fading alerts
      const alerts = document.querySelectorAll('.alert:not(.alert-success)');

      alerts.forEach(alert => {
        setTimeout(() => {
          alert.style.transition = "opacity 1s";
          alert.style.opacity = "0";

          setTimeout(() => {
            alert.remove();
          }, 1000);
        }, 3000);
      });

      // If the operation was successful, the page reloads after 2 seconds
      const successAlert = document.querySelector('.alert-success');
      if (successAlert) {
          setTimeout(() => {
            window.location.reload();
          }, 2700);
      }
  });

</script>
{% endblock page_scripts %}
