{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block css_files %}{% endblock css_files %}
    <title>{% block page_title %}{% endblock page_title %}</title>
</head>
<body class="rtl d-flex justify-content-center align-items-center min-vh-100 text-center">
    
    <div class="w-100" style="max-width: 600px;">
        {% block page_content %}{% endblock page_content %}
    </div>

    {% block page_scripts %}{% endblock page_scripts %}
</body>
 
</html>